<div class="ion-padding scrollable">
  <div *ngIf="memberClubs.length == 0">
    <p>Why not join a Cycling Club to find out about local Cycling Events...</p>
    <app-search></app-search>
  </div>
  <div *ngIf="memberClubs.length > 0">
    <h2>Clubs</h2>
    <app-club *ngFor="let club of memberClubs" [club]="club"></app-club>
  </div>
  <div *ngIf="adminClubs.length == 0">
    <p>You can also create your own Cycling Club where you can arrange events.</p>
    <ion-button size="small" color="primary" [routerLink]="['/clubs/create-club']">Create Club</ion-button>
  </div>
  <div *ngIf="adminClubs.length > 0">
    <h2>Clubs - Admin Area</h2>
    <app-club *ngFor="let club of adminClubs" [club]="club"></app-club>
  </div>
</div>