<ion-content *ngIf="user">
  <div class="scrollable">
    <ion-item *ngIf="user">
      <ion-avatar *ngIf="user.user_profile !== null" slot="end">
        <img *ngIf="user.user_profile.profile_picture != null" [src]="user.user_profile.profile_picture">
        <img *ngIf="user.user_profile.profile_picture == null"
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-avatar *ngIf="user.user_profile === null" slot="end">
        <img *ngIf="user.profile_picture == null"
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{user.first_name}} {{user.last_name}}</ion-label>
    </ion-item>
    <div class="ion-padding">
      <div *ngIf="!profile" slot="fixed">
        <app-profile-form [user]="user" (userDataUpdated)="userProfileUpdated($event)"></app-profile-form>
      </div>
      <div *ngIf="profile">
        <app-search></app-search>
        <ion-button class="standardMargin" size="small" color="primary" expand="block" (click)="findClubs()">Find Clubs
          Near Me</ion-button>
        <div *ngIf="clubMarkers.length > 0">
          <app-map [location]="location" [markers]="clubMarkers" (mapDistance)="showClubDistances($event)"></app-map>
          <app-club *ngFor="let result of clubSearchResults" [club]="result"></app-club>
        </div>
        <h2>Latest News</h2>
      </div>
    </div>
  </div>
</ion-content>