<ion-content *ngIf="user">
  <div class="scrollable">
    <ion-item *ngIf="user && user.profile">
      <ion-avatar *ngIf="user.user_profile !== null" slot="end">
        <img *ngIf="user.user_profile.profile_picture != null" [src]="user.user_profile.profile_picture">
        <img *ngIf="user.user_profile.profile_picture == null"
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-avatar *ngIf="user.user_profile === null" slot="end">
        <img *ngIf="user.profile_picture == null"
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{user.first_name}} {{user.last_name}}</ion-label>
    </ion-item>
    <div class="ion-padding">
      <div *ngIf="!profile" slot="fixed">
        <h2>Please Create you Profile</h2>
        <app-profile-form [user]="user" (userDataUpdated)="userProfileUpdated($event)"></app-profile-form>
      </div>
      <div *ngIf="profile">
        <app-search></app-search>
        <ion-button class="standardMargin" size="small" color="primary" expand="block" (click)="findClubs()">Find Clubs
          Near Me</ion-button>
        <div *ngIf="clubMarkers.length > 0">
          <app-map [location]="location" [markers]="clubMarkers" (mapDistance)="showClubDistances($event)"></app-map>
          <app-club *ngFor="let result of clubSearchResults" [club]="result"></app-club>
        </div>
        <h2>Latest Events</h2>
        <div *ngIf="newEvents.length > 0">
          <ion-card *ngFor="let event of newEvents">
            <ion-card-header>
              <ion-card-subtitle>Hosted by {{event.cycling_club.club_name}}</ion-card-subtitle>
              <ion-item>
                <ion-avatar slot="end">
                  <img *ngIf="event.profile_picture != null" [src]="event.profile_picture">
                  <img *ngIf="event.profile_picture == null" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>{{event.event_name}}</ion-label>
              </ion-item>
            </ion-card-header>
          
            <ion-card-content>
              <p><strong>Date:</strong> {{event.event_date}}</p>
              <p><strong>Start Time:</strong> {{event.start_time}}</p>
              <ion-button (click)="viewEvent(event.cycling_club.id, event.id)" expand="block" size="small" color="primary">View Event</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>