<div class="ion-padding scrollable">
  <div *ngIf="user">
    Welcome {{user.first_name}} {{user.last_name}}
    <div *ngIf="!profile">
      <app-profile-form [user]="user" (userDataUpdated)="userProfileUpdated($event)"></app-profile-form>
    </div>
    <div *ngIf="profile"> 
      <ion-searchbar [(ngModel)]="searchQuery" enterkeyhint="search" inputmode="search" (search)="searchForLocation($event)" placeholder="Search for Clubs"></ion-searchbar>
      <ion-button size="small" color="primary" (click)="findClubs()">Find Clubs Near Me</ion-button>
      <div *ngIf="clubMarkers.length > 0">
        <app-map [location]="location" [markers]="clubMarkers"></app-map>
      </div>
      <h2>Latest News</h2>
    </div>
  </div>
  
</div>