<div>
  <div *ngIf="club && userGroup === 'guest'" class="scrollable">
    <img *ngIf="club.profile_picture != null" [src]="club.profile_picture">
    <div class="ion-padding-start ion-padding-end">
      <h1>{{club.club_name}}</h1>
      <ion-card-subtitle>{{club.city}}, {{club.county}}, {{club.country}}</ion-card-subtitle>
      <p><strong>Bio:</strong> {{club.bio}}</p>
      <p><strong>Style:</strong> {{club.preferred_style}}</p>
      <ion-button color="primary" expand="block" (click)=joinClub(club.id)>Join Cycling Club</ion-button>
    </div>

  </div>
  <div *ngIf="club && (userGroup === 'admin' || userGroup === 'member')" class="ion-padding-start ion-padding-end">
    <h1>{{club.club_name}}</h1>
    <ion-card-subtitle>{{club.city}}, {{club.county}}, {{club.country}}</ion-card-subtitle>
    <img *ngIf="club" [src]="club.profile_picture" width="100%" height="auto" alt="">
    <p><strong>Club Admin:</strong> {{club.admin}}</p>
    <p><strong>Members:</strong> {{club.members}}</p>
    <h3>Bio</h3>
    <p>{{club.bio}}</p>
    <h4>Extra Info</h4>
    <div *ngIf="club.events">
      <p>We currently are hosting {{club.events.length}} Events.</p>
      <p>Check them out on the events tab.</p>
    </div>
  </div>
</div>