<ion-text>
  <p *ngIf="user && user.user_profile === null">
    Please fill out your User Profile
  </p>
</ion-text>

<div>
  <img *ngIf="imageFilePath" [src]="imageFilePath" width="300" height="300" alt="" name="profilePicture" id="profilePicture" [(ngModel)]="profile.profile_picture">
  <button (click)="captureImage()">Click for Image</button>
</div>

<div>
  <ion-list-header>Personal Details</ion-list-header>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input disabled email value="{{user.email}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date of Birth</ion-label>
    <ion-datetime (ionChange)="formatDateOfBirth($event)" displayFormat="DD/MM/YYYY" placeholder="DD/MM/YYYY" name="dateOfBirth" id="dateOfBirth" [(ngModel)]="profile.date_of_birth" #dateOfBirth="ngModel"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-segment (ionChange)="genderSelected($event)" [(ngModel)]="profile.gender">
      <ion-segment-button value="male">
        <ion-label>Male</ion-label>
      </ion-segment-button>
      <ion-segment-button value="female">
        <ion-label>Female</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ratherNot">
        <ion-label>Rather not say</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Town</ion-label>
    <ion-input type="text" name="town" id="town" [(ngModel)]="profile.town" #town="ngModel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Region</ion-label>
    <ion-input type="text" name="region" id="region" [(ngModel)]="profile.region" #region="ngModel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Country</ion-label>
    <ion-input type="text" name="country" id="country" [(ngModel)]="profile.country" #country="ngModel"></ion-input>
  </ion-item>
</div>

<div>
  <ion-list-header>Cycling Preferences</ion-list-header>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea placeholder="Enter your bio here..." name="bio" id="bio" [(ngModel)]="profile.bio" #bio="ngModel"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Current Bike</ion-label>
    <ion-input type="text" name="currentBike" id="currentBike" [(ngModel)]="profile.current_bike" #currentBike="ngModel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Preffered Style</ion-label>
    <ion-input type="text" name="preferredStyle" id="preferredStyle" [(ngModel)]="profile.preferred_style" #preferredStyle="ngModel"></ion-input>
  </ion-item>
</div>

<div class="ion-padding">
  <ion-button expand="block" (click)="submitProfile()" class="ion-no-margin" color="tertiary">Complete Profile</ion-button>
</div>
