<ion-header> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cycle Hub Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content contentId="main-content" class="ion-padding">
  <div *ngIf="user && user.first_name">
    <app-profile-form [user]="user" (userDataUpdated)="userProfileUpdated($event)"></app-profile-form>
    <ion-button expand="block" (click)="deleteUserAccount()" class="ion-margin" color="danger">Delete User Account
    </ion-button>
  </div>
</ion-content>