<ion-card *ngIf="event">
  <ion-card-header>
    <ion-card-subtitle>{{event.city}}, {{event.county}}, {{event.country}}</ion-card-subtitle>
    <ion-item>
      <ion-avatar slot="end">
        <img *ngIf="event.profile_picture != null" [src]="event.profile_picture">
        <img *ngIf="event.profile_picture == null" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{event.event_name}}</ion-label>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <p *ngIf="event.distanceToUser"><strong>Distance:</strong> {{event.distanceToUser}}km</p>
    <p><strong>Starting Point:</strong> {{event.start_address}}</p>
    <p><strong>Date:</strong> {{event.event_date}}</p>
    <p><strong>Start Time:</strong> {{event.start_time}}</p>
    <div>{{event.description}}</div>
    <ion-button (click)="viewEvent()" expand="block" size="small" color="primary">View Event</ion-button>
    <ion-button *ngIf="userGroup === 'admin'" (click)="editEvent()" expand="block" size="small" color="danger">Edit Event</ion-button>
  </ion-card-content>
</ion-card>