<div class="scrollable">
  <div *ngIf="club && userGroup === 'admin'" class="ion-padding-start ion-padding-end">
    <h1>{{club.club_name}} - Admin</h1>
    <p>{{userGroup}}</p>
    <div *ngIf="!activeForm">
      <ion-button *ngIf="!editProfile" expand="block" (click)="showEditProfile()" class="ion-no-margin"
        color="tertiary">Edit Profile</ion-button>
    </div>
    <div *ngIf="!activeForm" class="ion-padding-top">
      <ion-button *ngIf="!createEvent" expand="block" (click)="showCreateEvent()" class="ion-no-margin"
        color="tertiary">Create Event</ion-button>
    </div>
    <div *ngIf="!activeForm" class="ion-padding-top">
      <ion-button expand="block" (click)="deleteClub()" class="ion-no-margin" color="danger">Delete Cycling Club
      </ion-button>
    </div>
    <div *ngIf="activeForm">
      <ion-button expand="block" (click)="backToAdmin()" class="ion-no-margin" color="black" fill="outline">
        <ion-icon slot="start"name="arrow-back-outline"></ion-icon>
        Back to Admin Menu
      </ion-button>
    </div>
    <app-club-form *ngIf="editProfile" [user]="user" [edit]="true" [club]="club" (updated)=updateSuccess($event)></app-club-form>
    <app-event-form *ngIf="createEvent" [user]='user' [club]="club"></app-event-form>
  </div>
</div>