<ion-header> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cycle Hub Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content contentId="main-content" class="ion-padding">
  <div *ngIf="user">
    Welcome {{user.first_name}} {{user.last_name}}
    <div *ngIf="!profile">
      <app-profile-form [user]="user" (userDataUpdated)="userProfileUpdated($event)"></app-profile-form>
    </div>
    <div *ngIf="profile"> 
      <ion-searchbar [(ngModel)]="searchQuery" enterkeyhint="search" inputmode="search" (search)="searchForLocation($event)" placeholder="Search for Clubs"></ion-searchbar>
      <app-map></app-map>
    </div>
  </div>
</ion-content>

