<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Cycling Club Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let item of menuItems; index as i; trackBy: trackByFn">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]='item.link' ion-menu-toggle menuClose>
          <ion-icon name="{{item.icon}}" slot="start"></ion-icon>
          {{item.name}}
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-menu-toggle auto-hide="true">
      <ion-item (click)="logout()" ion-menu-toggle menuClose>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Logout
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>